# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\60121013-1\FinancialProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
